.link {
  font-weight: 600 !important;
  display: block !important;
  text-decoration: none !important;
  font-size: var(--mantine-font-size-sm) !important;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

[data-mantine-color-scheme="light"] .link {
  font-weight: 500;
  color: var(--mantine-color-dark-9);
}
